.blur, .header {
    backdrop-filter: blur( 40px );
    -webkit-backdrop-filter: blur( 40px );
    background-color: rgba(0, 0, 0, 0.5);
}

.link, .activeLink {
    all: unset;
    color: white;
    text-decoration: none;
}

.activeLink {
    color: #00a8ff;
}

.header {
    z-index: 200;
    width: 100%;
    height: 65px;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(102, 102, 102, 0.5);
}

.headerItemWrapper {
    display: flex;
}

.headerItem, .pageNameDiv {
    margin: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.headerItem:hover {
    color: #00d9ff;
}

.pageNameDiv {
    background: #21D7F5;
    background: -webkit-linear-gradient(top, #21D7F5, #C753CC);
    background: -moz-linear-gradient(top, #21D7F5, #C753CC);
    background: linear-gradient(to bottom, #21D7F5, #C753CC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pageNameDiv:hover {
    background: #9EE5EE;
    background: -webkit-linear-gradient(top left, #9EE5EE, #0164A8);
    background: -moz-linear-gradient(top left, #9EE5EE, #0164A8);
    background: linear-gradient(to bottom right, #9EE5EE, #0164A8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headerText, .pageName {
    font-size: 23px;
    user-select: none;
    font-weight: 500;
}

.pageName {
    font-weight: bolder;
}

.headerItemIcon {
    font-size: 25px;
    margin: 0px 15px;
}

@media screen and (max-width: 600px) {
    
    .header {
        justify-content: space-between;
    }

    .headerItemWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
    }

    .headerItem {
        margin: 0px;
        
    }    
    .headerText {
        display: none;
    }
}