.wrapper {
    width:100%;
    min-height: 100vh;
    height: fit-content;
    color: white;
    background: transparent;
    overflow: auto;
}

.cardSection, .cardSectionTitle {
    display: flex;
    width: 1110px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px 0px;
}

.cardSectionTitle {
    font-size: 20px;
    margin-top: 20px;    
    padding: 10px 20px;
    font-weight: bold;
}

.cardListDiv{
    display: flex;
}

@media screen and (max-width: 1200px) {
    
    .cardSection, .cardSectionTitle{
        width: 900px;
    }
}

@media screen and (max-width: 1000px) {
    
    .cardSection, .cardSectionTitle {
        width: 90%;
    }
}