.wrapper {
    width: 100%;
    max-height: fit-content;
    min-height: 100vh;
    color: white;
    background: transparent;
    overflow: auto;
}

.playlistWrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px 0px;
    width: 1110px;
    
}
